.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  font-family: "Poppins", sans-serif;
}

.list {
  padding-top: 2px;
  position: relative;
}

.list h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.list ul {
  position: relative;
}

.list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #f50057;
  transition: 0.5s;
  cursor: pointer;
}

.list ul li:hover {
  left: 10px;
}

.list ul li span {
  position: relative;
  padding: 8px 8px 8px 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}

.list ul li:hover span {
  color: #111;
}

.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.list ul li:hover:before {
  transform: scaleX(1);
}
